* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
textarea {
  display: block;
  margin: auto;
  margin-top: 10px;
  outline: none;
}
.container {
 text-align: center;
 font-size: 1.7rem;
}
span {
  color: orange;
}
